*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
    align-content: center;
    

}
img{
    width: 500px;
}
.sticker-1{
    width: 380px;
}
.sticker-3{
    width: 320px;
}
input{
    margin: 1% 8%;
    width: 210px;
    padding: 0.5%;
    border-radius: 3px;
    text-align: center;
    outline: none;
    border: 2px solid mediumpurple;
}

button{

    margin: 1% 0 1% 50%;
}
.mensajes{
    width: 100%;
    margin: 2%;
}
.mensaje-correct{
    color: rgb(0, 136, 91);
    text-align: center;
}
.mensaje-error{
    color: crimson;
    text-align: center;
}
.oculto{
    display: none;
}
.visible{
    display: inline;
}
